* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #fff;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*  Reusable Container */
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;

}

/* Reusable Button */

.btn {
    display: inline-block;
    background-color: #1D4ED8;
    padding: 18px 42px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 700;
    color: #fff;
    transition: 0.5s ease;
}

.btn:hover {
    background-color: #1544c6;
}

/* Header style */

header {
    background-color: #fff;
    padding: 23.5px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 134px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-menu a {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    transition: 0.3 ease;
}

.nav-menu a:hover {
    color: #1544c6;
}

/* Hero Section Style */

.hero {
    background: url("./assets/banner.jpg") center center/cover no-repeat;
    height: 90vh;
}

.hero-overlay {
    background: linear-gradient(212.61deg, rgba(0, 0, 0, 0) 42.9%, rgba(0, 0, 0, 0.88) 82.18%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%);

    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {

    display: flex;
    flex-direction: column;
    gap: 150px;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.hero-content .hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.hero-text h1 {
    font-size: 80px;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -3.2px;
}

.hero-text p {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    max-width: 800px;
    align-items: center;
    color: #FFFFFFE5;

}

.hero-content .btn {
    align-self: center;

}

/* Speakers Section style */

.speakers {
    padding: 80px 0 120px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 56px;
}

.section-title h2 {
    font-size: 56px;
    line-height: 1.3em;
    font-weight: 700;
    color: #000102;
}

.speaker-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
}

.speaker-card {
    background-color: #ffffff;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.speaker-card img {
    height: 324px;
    object-fit: cover;
}

.speaker-info {
    padding: 24px;
}

.speaker-positon {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #2563eb;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.speaker-info h3 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #111827;
}

.speaker-info p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #575757;
}