* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #fff;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*  Reusable Container */
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;

}

/* Reusable Button */

.btn {
    display: inline-block;
    background-color: #1D4ED8;
    padding: 18px 42px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 700;
    color: #fff;
    transition: 0.5s ease;
}

.btn:hover {
    background-color: #1544c6;
}

/* Header style */

header {
    background-color: #fff;
    padding: 23.5px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 134px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-menu a {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    transition: 0.3 ease;
}

.nav-menu a:hover {
    color: #1544c6;
}

/* Hero Section Style */

.hero {
    background: url("./assets/banner.jpg") center center/cover no-repeat;
    height: 90vh;
}

.hero-overlay {
    background: linear-gradient(212.61deg, rgba(0, 0, 0, 0) 42.9%, rgba(0, 0, 0, 0.88) 82.18%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%);

    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {

    display: flex;
    flex-direction: column;
    gap: 150px;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.hero-content .hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.hero-text h1 {
    font-size: 80px;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -3.2px;
}

.hero-text p {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    max-width: 800px;
    align-items: center;
    color: #FFFFFFE5;

}

.hero-content .btn {
    align-self: center;

}

/* Speakers Section style */

.speakers {
    padding: 80px 0 120px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 56px;
}

.section-title h2 {
    font-size: 56px;
    line-height: 1.3em;
    font-weight: 700;
    color: #000102;
}

.speaker-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
}

.speaker-card {
    background-color: #ffffff;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.speaker-card img {
    height: 324px;
    object-fit: cover;
}

.speaker-info {
    padding: 24px;
}

.speaker-positon {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #2563eb;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.speaker-info h3 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #111827;
}

.speaker-info p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #575757;
}

/* Pricing Section Style */

.pricing {
    max-width: 1120px;
    margin: 0 auto;
    padding-bottom: 100px;
    background-color: #ffffff;
}

.section-title p {
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.5em;
    color: #575757;
}

.pricing-wrapper {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.pricing-card {
    padding: 32px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.plan-name {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: #888888;
    letter-spacing: 0.32px;
}

.pricing-card h3 {
    margin-top: 8px;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    color: #0D1B2A;
}

.plan-duration {
    margin-top: 6px;
    color: #888888;
    font-size: 13px;
    line-height: 20px;
}

.pricing-card hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #e5e7eb;
}

.pricing-card ul {
    flex-grow: 1;
}

.pricing-card ul li {
    margin-bottom: 10px;
    color: #333333;
    font-size: 14px;
}

.pricing-card ul li::before {
    content: "•";
    color: #2563eb;
    margin-right: 10px;
}

.pricing-btn {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding: 11px;
    text-align: center;
    border: 1px solid #2563eb;
    border-radius: 8px;
    color: #2563eb;
    font-weight: 600;
    transition: 0.3s ease;
}

.pricing-btn:hover {
    background-color: #2563eb;
    color: #ffffff;
}

.active-plan {
    background-color: #0D1B2A;
    color: #ffffff;
}

.active-plan h3,
.active-plan .plan-duration,
.active-plan ul li {
    color: #ffffff;
}

.active-plan hr {
    border-color: #FFFFFF1A;
}


.active-plan .plan-name {
    color: #60a5fa;
}

.active-btn {
    background-color: #2563eb;
    color: #ffffff;
    border: none;
}


.active-btn:hover {
    background-color: #1d4ed8;
}


/* ===========================
   Hackathon Section
=========================== */

.hackathon {
    padding: 100px 0;
    background: #F8FAFC;
}

.prize-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 48px;
}

.prize-card {
    background: #ffffff;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 32px;
    text-align: center;
}

.prize-rank {
    display: inline-block;
    margin-bottom: 12px;
    color: #2563EB;
    font-size: 14px;
    font-weight: 600;
}

.prize-card h3 {
    font-size: 42px;
    font-weight: 700;
    color: #0D1B2A;
    margin-bottom: 16px;
}

.prize-card p {
    color: #575757;
    font-size: 15px;
    line-height: 1.6;
}

.hackathon-btn {
    text-align: center;
    margin-top: 48px;
}